/* main text color #212121 */
/* text color #757575 */
/* text and background color #FFFFFF */
/* accent color #2196F3 */
/* additional color rgba(255, 255, 255, 0.6 */
/* additional color rgba(255, 255, 255, 0.4) */
/* additional background color #E5E5E5 */
/* Raleway bold, Roboto bold normal 500 900*/

:root {
  --primary-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --white: #ffffff;
  --button-bcg-color: #f5f4fa;
  --footer-bcg-color: #2f303a;
  --link-color: #afb1b8;
}

.page {
  background-color: var(--white);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);

  overflow: hidden;
}

img {
  display: block;
}

/* logo */

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  line-height: 1.2;
  text-decoration: none;

  color: var(--accent-color);
}

.logo-main {
  font-size: 26px;
}

.logo-secondary {
  font-size: 22px;
}

.logo-main .item {
  color: var(--primary-text-color);
}

.logo-secondary .item {
  color: var(--white);
}

/* site-nav */

.header,
.main-nav,
.site-nav {
  display: flex;
}

.main-nav {
  align-items: center;
}

.site-nav {
  margin-left: 50px;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.02em;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: var(--primary-text-color);

  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.current {
  position: relative;
}

.current::before {
  display: block;
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;

  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

/* contacts-header */

.contacts-header {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contacts-header .item:not(:last-child) {
  margin-right: 30px;
}

.contacts-header .link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: var(--text-color);
}

.contacts-header .link:hover,
.contacts-header .link:focus {
  color: var(--accent-color);
}

.mail-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  fill: var(--text-color);
}

.phone-icon {
  width: 15px;
  height: 15px;
  margin-right: 10px;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  fill: var(--text-color);
}

.link:hover .mail-icon,
.link:hover .phone-icon,
.link:focus .mail-icon,
.link:focus .phone-icon {
  fill: var(--accent-color);
}

.head {
  border-bottom: 1px solid #ececec;
}

/* hero */

.hero-title {
  margin-top: 0;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--white);
}

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url('../images/main-img.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-main {
  width: 696px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-main .hero-title {
  margin-bottom: 30px;
}

/* button */

.button {
  display: inline-block;
  padding: 10px 32px;
  min-width: 200px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  text-decoration: none;

  color: var(--white);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-submit .button {
  display: inline-flex;
  padding: 10px 29px;
  border: none;
}

.send {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.filter-button {
  border-radius: 4px;
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  border: none;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: var(--primary-text-color);
  background-color: var(--button-bcg-color);
}

.filter-button:hover,
.filter-button:focus {
  color: var(--white);
  background-color: var(--accent-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
}

/* modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  background-color: #fff;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-form {
  position: absolute;
  top: -9px;
  right: -9px;

  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  background-image: url(../images/close-icon.svg);
  background-color: var(--white);
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center;
}

.form {
  margin: 0;
  padding: 40px;
  text-align: center;
}

.form b {
  display: inline-block;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 30px;
}

.form-field {
  position: relative;
  display: flex;

  margin-bottom: 28px;
}

.form-field:nth-child(5) {
  margin-bottom: 20px;
}

.form-field input,
.form-field textarea {
  margin: 0;
  width: 100%;
  font-size: 14px;
  line-height: 1.14;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: var(--text-color);
}

.form-field input {
  padding: 12px 42px;
}

.form-field textarea {
  padding: 12px 16px;
  resize: none;
}

.form-label {
  position: absolute;
  top: 50%;
  left: 42px;

  font-size: 14px;
  line-height: 1.14;

  transform: translateY(-50%);
  color: var(--text-color);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field .comment {
  top: 12px;
  left: 16px;

  transform: none;
}

.form-field .icon {
  position: absolute;
  top: 50%;
  left: 16px;
  width: 18px;
  height: 18px;

  transform: translateY(-50%);
}

.form-icon {
  width: 18px;
  height: 18px;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:focus-within .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  color: var(--accent-color);
  transform: translateY(-42px);
  left: 16px;
}

.form-field:focus-within .comment,
.form-input:not(:placeholder-shown) + .comment {
  transform: translateY(-34px);
}

.form-field:focus-within .icon {
  fill: var(--accent-color);
}

.form-input:focus {
  border: 1px solid var(--accent-color);
}

.form .link {
  color: var(--accent-color);
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);

  overflow: hidden;
}

.checkbox-label {
  display: inline-flex;
  align-items: center;

  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 30px;
}

.checkbox-label .icon {
  display: inline-block;
  margin-right: 8px;
  width: 15px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(../images/check.svg);
  background-size: contain;
  background-origin: border-box;
}

/* section */

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  color: var(--primary-text-color);
}

/* features */

.features {
  display: flex;
}

.border {
  border-bottom: 1px solid #ececec;
}

.features .item:not(:last-child) {
  margin-right: 30px;
}

.features .title {
  margin-top: 30px;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--primary-text-color);
}

.features-description {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 14px;
  line-height: 1.7;

  color: var(--text-color);
}

.features .features-image {
  display: flex;
  width: 270px;
  height: 120px;
  justify-content: center;
  align-items: center;

  background-color: var(--button-bcg-color);
}

.features-icon {
  width: 70px;
  height: 70px;
}

/* our-work */

.our-work {
  display: flex;
}

.our-work .item:not(:last-child) {
  margin-right: 30px;
}

.our-work .item {
  position: relative;
}

.our-work .title {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;

  margin: 0;
  padding: 27px 0px;
  text-align: center;
  min-width: 370px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--white);
  background-color: rgba(47, 48, 58, 0.8);
}

/* our-team */

.our-team {
  display: flex;
}

.our-team .item {
  text-align: center;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(117, 78, 78, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.our-team .item:not(:last-child) {
  margin-right: 30px;
}

.team-container {
  background-color: var(--button-bcg-color);
}

.our-team .title {
  margin-top: 30px;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;

  color: var(--primary-text-color);
}

.our-team-description {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.2;

  color: var(--text-color);
}

.our-team .social-media {
  display: inline-block;

  width: 20px;
  height: 20px;
  fill: var(--link-color);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: transparent;
}

.our-team .list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.our-team .link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover .social-media,
.link:focus .social-media {
  fill: var(--white);
}

.our-team .link:hover,
.our-team .link:focus {
  background-color: var(--accent-color);
}

/* our-clients */

.our-clients {
  display: flex;
  justify-content: center;
}

.our-clients .link {
  display: flex;

  width: 170px;
  height: 90px;
  border: 1px solid var(--link-color);
  border-radius: 4px;
  justify-content: center;
  align-items: center;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-clients .item:not(:last-child) {
  margin-right: 30px;
}

.our-clients .link:hover,
.our-clients .link:focus {
  border: 1px solid var(--accent-color);
}

.link:hover .client-icon,
.link:focus .client-icon {
  fill: var(--accent-color);
}

.client-icon {
  fill: var(--link-color);
  margin: 0;
  padding: 0;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* examples */

.portfolio-filter {
  display: flex;
  justify-content: center;
  padding-bottom: 16px;
}

.portfolio-filter .item:not(:last-child) {
  margin-right: 9px;
}

.examples {
  display: flex;
  flex-wrap: wrap;
}

.examples .item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  /* border-radius: 5px; */
}

.examples .item:hover,
.examples .item:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}

.examples .item:nth-child(3n) {
  margin-right: 0px;
}

.examples .item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.portfolio-header {
  margin-top: 0;
  margin-bottom: 0;
}

.examples .description {
  padding: 20px 24px;
  border-top: 0;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  /* border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px; */
}

.examples .title {
  margin-top: 20px;
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--primary-text-color);
}

.examples-description {
  margin-top: 0;
  margin-bottom: 20px;

  font-size: 16px;
  line-height: 1.2;

  color: var(--text-color);
}

.examples-text {
  font-size: 18px;
  line-height: 1.5;

  color: var(--white);
}

.examples a {
  text-decoration: none;
}

.thumb {
  position: relative;
  overflow: hidden;
}

.examples-text {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  padding: 63px 24px;
  margin: 0;
  background-color: rgba(33, 150, 243, 0.9);
  /* border-radius: 5px; */

  color: var(--white);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples .item:hover .examples-text,
.examples .item:focus .examples-text {
  transform: translateY(0);
}

/* footer */

.main-footer {
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  padding-top: 48px;
  padding-bottom: 28px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-contacts .logo {
  display: block;
  margin-bottom: 10px;
}

.footer-contacts .map-address,
.footer-contacts .footer-mail {
  margin-bottom: 9px;
}

.footer {
  background-color: var(--footer-bcg-color);
}

address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;

  color: var(--white);
}

.contacts .link {
  font-style: normal;
  text-decoration: none;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: rgba(255, 255, 255, 0.6);
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

.footer b {
  display: inline-block;

  font-weight: 700;
  font-size: 14px;
  margin-bottom: 21px;
  line-height: 1.1;
  text-transform: uppercase;

  color: var(--white);
}

.footer-submit input {
  margin-right: 12px;
  padding: 15px 16px;
  min-width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
}

.social-media-footer .list {
  display: flex;
}

.social-media-footer .item:not(:last-child),
.item-social:not(:last-child) {
  margin-right: 10px;
}

.social-media-footer .social-media {
  width: 20px;
  height: 20px;
  fill: var(--white);
}

.social-media-footer .icon-social {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: rgba(255, 255, 255, 0.1);
}

.social-media-footer .icon-social:hover,
.social-media-footer .icon-social:focus {
  background-color: var(--accent-color);
}

.copyright {
  padding-top: 18px;
  padding-bottom: 21px;
  margin: 0;

  font-size: 12px;
  line-height: 2;
  text-align: center;

  color: rgba(255, 255, 255, 0.6);
}
